* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body {
    font-family: 'Lato', sans-serif;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.header {
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header__left {
    display: flex;
    align-items: center;
}
.header__right {
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
}
.logo__img {
    margin-right: 13px;
}
.logo__d {
    color: #f16d7f;
    font-weight: 400;
    letter-spacing: 0.68px;
}
.header__form {
    display: flex;
    align-items: center;
	margin-left: 37px;
	border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
}
.header__form__browse {
    height: 38px;
	line-height: 38px;
    display: block;
	padding-left: 15px;
	padding-right: 9px;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;		
}
.header__form__browse:hover {
	background-image: none;
}
.header__form__d{
	margin-left: 8px;
	margin-bottom: 2px;
}
.header__form__input {
	height: 36px;
	width: 280px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: #ffffff;
	border: 0;
}
.header__form__input:focus {
	outline: 0;
}
.header__form__loupe {
	display: flex;
    justify-content: center;
	height: 38px;
	width: 38px;	
	background-color: #ffffff;
	border: 0;
	border-left: 1px solid #e6e6e6;
}
.header__form__loupe:hover {
	border: 1px solid #e6e6e6;
	border-left: 2px solid #e6e6e6;	
}
.header__form__loupe:active {
	margin-left: 1px;
	border: 1px solid #222222;	
}
.header__form__loupe:focus {
	outline: 0;
}
.cart {
	margin-right: 26px;
}
.cart2{
	float: left;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 12px;
}
.button {
    height: 38px;
    line-height: 38px;
    padding-left: 19px;
    padding-right: 19px;
    background-color: #f16d7f;
    display: block;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.38px;
}
.button2{
	height: 38px;
	line-height: 38px;
	display: inline-block;
	padding-right: 14px;
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
	outline: 1px solid #ffffff;
	margin-top: 98px;
	z-index: 2;
}
.button:hover, .button2:hover {
    outline: 2px solid #e6e6e6;
}
.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.menu__link {
    padding: 20px 15px;
    display: block;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.menu__link:hover {
    color: #f16d7f;
}
.slider {
    height: 613px;
    background-color: #e8e8e8;
}
.slider__container {
    height: 100%;
    background-image: url("../img/Layer_24.jpg");
    background-position: 0 -52px;
}
.slider__text {
    margin-top: 224px;
    float: left;
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}
.slider__h2 {
    font-size: 60px;
    letter-spacing: 1.5px;
    color: #222222;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 43px;
    margin-bottom: 15px;
}
.slider__h4 {
    font-size: 40px;
    color: #222222;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 31px;
}
.offers__container {
	margin-top: 78px;
	height: 845px;
	display: flex;
	flex-flow: column wrap;
}
.offers__item  {
	width: 560px;
	background-color: #dadad2;
	background-repeat: no-repeat;
	margin-top: 20px;
	margin-left: 20px;
}
.item1 {
	height: 542px;
	background-image: url("../img/Layer_30.jpg");
}
.item2 {
	height: 261px;
	background-image: url("../img/Layer_37.jpg");
	background-position: top right;
}
.item3 {
	height: 261px;
	background-image: url("../img/Layer_32.jpg");
}
.item4 {
	height: 542px;
	background-image: url("../img/Layer_31.jpg");
}
.offers__text {
	margin-top: 26px;
	display: inline-block;
	background-color: #ffffff;
	padding: 16px 20px 16px 20px;
}
.offers__h3 {
	color: #222222;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.45px;
}
.offers__p {
	margin-top: 5px;
	color: #f16d7f;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.75px;
}
.featured__container {
	text-align: center;
}
.featured__h2 {	
	color: #222222;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.75px;
	margin-top: 100px;
	margin-bottom: 16px;
}
.featured__p {	
	color: #9f9f9f;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.35px;	
}
.product-box {
	margin-top: 23px;
	padding-top: 60px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.product {
	width: 263px;
	position: relative;
	margin-bottom: 39px;
}

.product:hover {
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.product:hover .product__add {
	visibility: visible;
}

.product:hover .product__img {
	filter: brightness(50%);
}

.product__img {
	width: 100%;
}

.product__info {
	padding: 20px 14px;
}

.product__text {
	color: #222222;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 14px;
}

.product__price {
	color: #f16d7f;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.product__add {
	position: absolute;
	top: 98px;
	left: 70px;
	border: 1px solid #ffffff;
	width: 123px;
	height: 39px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
	visibility: hidden;
}

.product__add:hover {
	box-shadow: 0 0 5px #fff;
}

.browse_all {
	height: 160px;
	display: flex;
	justify-content: center;
}
.full_link {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
}
.special__container {
	display: flex;
	justify-content: center;
	position: relative;
}
.special__cover {
	position: absolute;
    width: 100%;
    height: 100%;
	background-image: url("../img/Layer_39.png");
	background-position: left;
	background-repeat: no-repeat;
	opacity: 0;
}
.special__cover:hover {
	opacity: 1;
}
.special_left {
	background-image: url("../img/Layer_38.jpg");
	height: 529px;
    width: 767px;
}
.special_right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #222224;
	height: 529px;
    width: 373px;
}
.special_right_div {
	height: 33%;
}
.special__title {
	color: #fbfbfb;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.5px;
	margin-left: 114px;
    margin-top: 50px;
}
.special__text {
	color: #fbfbfb;
	font-size: 14px;
	font-weight: 300;	
	letter-spacing: 0.35px;
	width: 219px;
	text-align: justify;
	margin-left: 111px;
    margin-top: 17px;
}
.special_pic {
	float: left;
	margin-top: 48px;
	margin-left: 36px;
}
.special__h1
{
	color: #ffffff;
	font-size: 54px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	margin-top: 146px;
    margin-left: 39px;
}
.special__h1__red {
	color: #f16d7f;
}
.special__h2
{
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 32px;
	letter-spacing: 0.9px;
	margin-left: 39px;
}

	